<section class="about-us-comp">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-1 head">
            <div class="col col-a">
                <span>About Pixel Craft:</span>
                <h1>Where Creativity Meets Innovation</h1>
                <p>
                    Pixel Craft is a pioneering centre of creativity, design, 
                    and technology innovation. We're more than just a firm; 
                    we're a group of forward-thinking thinkers, innovators, 
                    and problem solvers that share a passion for creating 
                    extraordinary digital experiences.
                </p>
            </div>
            <div class="col col-b">
                <img src="../../../assets/images/Asset 1.png" class="img" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-1 info">
            <div class="col">
                <div>
                    <h2>Our Story</h2>
                    <img src="../../../assets/svgs/story.svg" alt="">
                </div> 
                <p class="custom">Founded on the belief that every pixel tells a story, 
                    Pixel Craft emerged from a desire to fuse artistry with technology. 
                    What began as a small team of creative minds has blossomed into a 
                    dynamic powerhouse of design and software expertise. Over the years, 
                    our journey has been marked by a commitment to pushing boundaries, 
                    embracing challenges, and delivering results that redefine excellence.
                </p>
            </div>
            <div class="col">
                <div>
                    <h2>Our Philosophy</h2>
                    <img src="../../../assets/svgs/philosophy.svg" alt="">
                </div>
                <p>At the heart of Pixel Craft lies the conviction that great design and 
                    cutting-edge technology can transform brands and empower businesses. 
                    We blend form and function, aesthetics and utility, to create solutions 
                    that not only catch the eye but also elevate user experiences. 
                    Our philosophy revolves around innovation, collaboration, 
                    and a relentless pursuit of perfection.
                </p>
            </div>
            <div class="col">
                <div>
                    <h2>Our Vision</h2>
                    <img src="../../../assets/svgs/vision.svg" alt="">
                </div>
                <p>
                    As we march into the future, our vision remains clear: to be a catalyst 
                    for innovation in the digital realm. We aim to continue pushing 
                    the boundaries of what's possible, embracing emerging technologies, and 
                    setting new standards for design and user experiences. With each project, 
                    we aim to inspire, create, and leave a lasting mark on the digital landscape.
                </p>
            </div>
            <div class="col">
                <div>
                    <h2>What Sets Us Apart</h2>
                    <img src="../../../assets/svgs/difference.svg" alt="">
                </div>
                <p class="custom">What makes Pixel Craft stand out isn't just our technical prowess, 
                    but our unwavering commitment to quality. We're not satisfied with 
                    just meeting expectations; we strive to exceed them. Our team's 
                    diverse expertise spans design, branding, and software development, 
                    allowing us to provide holistic solutions that drive tangible results.
                </p>
            </div>
        </div>
        <div class="row row-cols-3">

        </div>
    </div>
</section>
