<div class="navbar">
    <div class="container castomnav">
        <div class="complogo">
            <img src="../../../assets/images/BW logo.png" alt="pixel craft logo">
        </div>
        <nav class="navcontent">
            <ul class="m-auto mb-lg-0 content">
                <li class="nav-item">
                    <a class="nav-link" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >blog</a>
                </li>
            </ul>
            <button type="button" class="btn btn-custom">Contact us</button>
        </nav>
    </div>
</div>