<div class="navbar position-fixed">
    <div class="container castomnav row">
        <div class="complogo col-4">
            <img src="../../../assets/images/BW logo.png" alt="pixel craft logo">
        </div>
        <nav class="navcontent col-8" id="navcontent">
            <div class="menu-close close-btn" id="close" (click)="closeNav()">
                <i class="bi bi-x-square" style="font-size:2.5rem; color:#025259;"></i>
            </div>
            <ul class=" content">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/service" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >blog</a>
                </li>
            </ul>
            <a class="btn btn-custom" routerLink="/contact" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Contact us</a>
        </nav>
    </div>
    <div class="menu" (click)="openNav()">
        <i class="bi bi-list" style="font-size:3rem; color:#025259;"></i>
    </div>
</div>