<div id="sliders" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <div class="position-absolute home-info">
                <h1>
                    where your <br> business thrives
                </h1>
                <p>Create innovative, reliable, and client-centred software 
                    solutions that drive success. We believe in collaboration, 
                    quality, and the power of technology to transform businesses
                </p>

                <button type="button" class="btn btn-custom">Learn More</button>
            </div>
            <img src="../../../assets/images/homebg.svg" class="w-100" alt="...">
      </div>
    </div>

  </div>
