<section>
    <div id="sliders" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="position-absolute home-info">
                    <h1>
                        where your <br> business thrives
                    </h1>
                    <p>Create innovative, reliable, and client-centred software 
                        solutions that drive success. We believe in collaboration, 
                        quality, and the power of technology to transform businesses
                    </p>

                    <button type="button" class="btn btn-custom">Learn More</button>
                </div>
                <img src="../../../assets/images/homebg.svg" class="w-100" alt="...">
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <h2>Trusted By:</h2>
        <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-6">
            <div class="col">
                <img src="../../../assets/images/logos.png" alt="Kandara marathon">
            </div>
            <div class="col">
                <img src="../../../assets/images/logo(2).png" alt="Kandara marathon">
            </div>
            <div class="col">
                <img src="../../../assets/images/logos.png" alt="Kandara marathon">
            </div>
            <div class="col">
                <img src="../../../assets/images/logo(4).png" alt="Kandara marathon">
            </div>
            <div class="col">
                <img src="../../../assets/images/logos.png" alt="Kandara marathon">
            </div>
            <div class="col">
                <img src="../../../assets/images/logo(3).png" alt="Kandara marathon">
            </div>
        </div>
    </div>
</section>
