/* Start of global variables */
@font-face {
    font-family: "pixelR";
    src: local("PixelCraft"), url(./assets/fonts/GraphikRegular.otf) format("opentype");
}
@font-face {
    font-family: "pixell";
    src: local("PixelCraft"), url(./assets/fonts/GraphikLight.otf) format("opentype");
}
@font-face {
    font-family: "pixelB";
    src: local("PixelCraft"), url(./assets/fonts/GraphikBold.otf) format("opentype");
}
@font-face {
    font-family: "pixelBl";
    src: local("PixelCraft"), url(./assets/fonts/GraphikBlack.otf) format("opentype");
}
@font-face {
    font-family: "pixelSb";
    src: local("PixelCraft"), url(./assets/fonts/GraphikSemibold.otf) format("opentype");
}
// bootstrap componets
$primary : #F4E2DE;
$secondary : #025259;
$fontColor : #111111;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";

body{
    font-family: pixelR;
}
.btn-custom{
    color: white;
    background-color: #fcf5f37e;
    border-radius: 105px;
    height: 45px;
    padding: 0px 30px 0px 30px;
}
.btn-custom:hover{
    color: $secondary;
    background-color: $primary;
    transition: all;
}

.navbar{
    width: 100vw;
    height: 100px;
    background-color: #ffd3c9;
    z-index: 10;
    .castomnav{
        display: flex;
        justify-content: space-between;
    }
    .complogo{
        height: fit-content;
        img{
            height: 88px;
            width: 85px;
            object-fit: contain;
        }
    }
    .navcontent{
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 13px;
        .content{
            display: flex;
            margin-right: 550px !important;
            li{
                list-style: none;
                margin: 10px;
                padding: 5px;
            }
        }
    }


}
.home-info{
    left: 100px;
    top: 188px;
    width: 35vw;
    margin: 10px;
    padding: 10px;

    h1{
        text-transform: uppercase;
        font-family: pixelBl;
    }
    p{
        margin-top: 15px;
    }
    button{
        margin-top: 15px;
        color: $primary;
        background-color: $secondary;
        font-size: 13px;
    }
}

.partners{
    margin-top: 100px;
    margin-bottom: 100px;
    .row{
        margin: auto;
    }
    h2{
        font-size: 15px;
        text-transform: uppercase;
        padding: 5x;
        margin: 5px;
        text-align: center;
        font-family: pixelR;
    }
    img{
        margin: 10px;
        height: 80px;
        object-fit: contain;
    }
}

.desc{
    background-image: url(../src/assets/images/descbg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110%;
    .info{
        text-align: center;
        align-items: center;
        padding: 0px 250px 0px 250px;
        h2{
            font-family: pixelR;
            font-size: 16px;
            text-transform: uppercase;
        }
        h3{
            font-size: 38px;
            letter-spacing: 1px;
        }
        span{
            color: #025259;
        }
        button{
            margin-top: 15px;
            color: $primary;
            background-color: $secondary;
            font-size: 13px;
        }
    }
    img{

        width: 100%;
        padding: 0px 250px 0px 250px;
        object-fit: cover;
    }
}

.desc-2{
    height: 950px;
    padding-top: 350px;
    transform: translatey(-330px);
    position: relative;
    z-index: -1;
    background: linear-gradient(180deg, #F4F6F9 58.06%, #F4E2DE 102.13%);
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .col{
        padding: 30px;
    }
    img{
        width: 100%;
        object-fit: contain;
    }
    .col-castom{
        padding-left: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 38px;
            margin-bottom: 20px;
        }
        span{
            color: #025259;
        }
    }
}

.about{
    transform: translatey(-330px);
    position: relative;
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .col{
        padding: 30px;
    }
    img{
        width: 75%;
        object-fit: contain;
    }
    .col-castom{
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 14px;
            text-transform: uppercase;
        }
        h3{
            font-size: 38px;
            margin-bottom: 20px;
        }
        span{
            color: #025259;
        }
    }
}

.why{
    overflow-x: clip;
    transform: translatey(-230px);
    background-image: url("../src/assets/svgs/Vector1.svg");
    .container{
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        .img{
            width: 50rem;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-200px) translateX(200px);
            z-index: -2;
        }
    }
    .col-castom{
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3{
            font-size: 38px;
            margin-bottom: 20px;
            color: #025259;
        }
        span{
            color: #D94F04;
        }
    }
    .card{
        width: 17rem;
        margin: 10px;
        .icon{
            display: flex;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
                margin-right: 20px;
            }
            h5{
                font-size: 14px;
                margin: 0px !important;
                margin-top: 20px !important;
            }
            p{
                font-size: 10px;
            }
        }
    }
    .row-custom{
        transform: translateX(80px);
    }
}

.service{
    .container{
        padding: 0px 250px 0px 250px;
    }
    .col-12{
        text-align: center;
        // padding: 0px 350px 0px 350px;
        color: #025259;
        h2{
            margin-bottom: 20px;
            font-size: 38px;
        }
    }
    .card{
        width: 268px;
        padding:0px 15px;
        margin-top: 70px;
        background: rgba(255, 255, 255, 0.49);
        box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);

        .img{
            width: 100;
            display: flex;
            justify-content: center;
        img{
            width: 70px;
            object-fit: cover;
            transform: translateY(-70px);
        }
        }
        
        h3{
            font-size: 15px;
            padding-top: -20px;
            font-family: pixelB;
            text-transform: uppercase;
        }
        p{
            font-size: 13px;
            letter-spacing: 1px;
        }
        button{
            color: $secondary;
            background-color: #fff3f0;
            border-radius: 105px;
            height: 45px;
            padding: 0px 20px 0px 20px;
            border: solid 1px #D94F04;
        }
        
    }
}

.info{
    margin: 50px 0px 50px 0px;
    .container{
        height: 232px;
        background: linear-gradient(95.31deg, #025259 -28.73%, #007172 23.23%, #D94F04 62.74%, #F4E2DE 111.77%);
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-family: pixell;
                font-size: 27px;
                text-align: center;
                color: #FFFFFF;
            }        
            button{
                color: $secondary;
                background-color: #fff3f0;
                border-radius: 105px;
                height: 45px;
                padding: 0px 20px 0px 20px;
                border: solid 1px #D94F04;
            }
        }
    }
}


.footer{
    margin: 200px 0px 0px 0px;
    padding: 20px 0px 10px 0px;
    .copyright{
        img{
            width: 120px;
            object-fit: cover;
            margin-bottom: 20px;
        }
        p{
            font-family: pixell;
            font-size: 12px;
        }
    }
    .ft{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 17px;
            text-transform: uppercase;
        }
        a,p{
            text-decoration: none;
            color: #242424;
            margin: 5px;
            padding: 3px;
            font-size: 14px;
        }
        a:hover{
            color: #025259;
            transition: all 30ms;
        }
        .input-group{
            margin: 5px;
            padding-top: 3px;
            padding: 3px;
            width: 90%;
            ::placeholder{
                font-size: 12px;
                text-transform: uppercase;
            }
            button{
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        .social{
            width: 70%;
            display: flex;
            justify-content: space-between;
            img{
                width: 25px;
                object-fit: cover;
                align-content: baseline;
            }
            img:hover{
                scale: 1.02;
                transition: all 30ms;
            }
        }
        .rights{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            transform: translateY(28px);
            p{
                margin-right: 15px;
                font-size: 10px;
                color: #595959;
            }
        }
    }
}
//====tablet styling=========//

@media only screen and (min-width: 767px) {
    .navbar{
        .complogo{
            height: fit-content;
            position: relative;
            top: -110px;
            img{
                height: 88px;
                width: 85px;
                object-fit: contain;
            }
        }
        .navcontent{
            display: flex;
            flex-direction: column;
            justify-content: start;
            background-color: #F4E2DE;
            .content{
                display: flex;
                flex-direction: column;
                margin-right: 0px !important;
            }
        }
    }
    .carousel-item{
        img{
            height: 650px;
            object-position: -250px;
            object-fit: cover;
        }
    }


    .home-info{
        h1{
            font-size: 100%;
        }
        p{
            font-size: 100%;
        }
    }

    .partners{
        margin-top: 50px;
        margin-bottom: 50px;
        .row{
            margin: auto;
        }
        img{
            height: 45px;
        }
    }
    .desc{
        .info{
            padding: 0px 50px 0px 50px;
        }
        img{
            padding: 0px 100px 0px 100px;
        }
    }
    .desc-2{
        height: 950px;
        padding-top: 295px;
        .container{
            .row{
                flex-direction: column-reverse;
            }
        }
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            img{
                width: 80%;
                object-fit: contain;
            }
        }
        .col-castom{
            padding-left: 50px;
            p{
                padding: 0px 50px 0px 50px;
                text-align: center;
            }
        }
    }
    .about{
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .col-castom{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .why{
        transform: translatey(-230px);
        .container{
            padding-right: 0px;
            .img{
                width: 45rem;
                transform: translateY(20px) translateX(380px);
            }
        }
        .col-castom{
            padding-left: 0px;
            padding-right: 0px;
        }
        .card{
            width: 17rem;
        }
        .row-custom{
            transform: translateX(40px);
        }
    }
    
    .service{
        margin-top: -150px;
        .container{
            padding: 0px 0px 0px 0px;
        }
        .card{
            width: fit-content;
            .img{
                img{
                    width: 50px;
                    object-fit: cover;
                    transform: translateY(-50px);
                }
            }
            
            p{
                font-size: 10px;
            }
            
        }
    }

    .footer{
        margin: 100px 0px 0px 0px;
        padding: 20px 0px 10px 0px;
        .copyright{
            img{
                width: 90px;
            }
            p{
                font-size: 10px;
            }
        }
        .ft{
            h3{
                font-size: 10px;
            }
            a,p{
                font-size: 10px;
            }
            .input-group{
                width: 100%;
                ::placeholder{
                    font-size: 7px;
                }
                button{
                    font-size: 7px;
                }
            }
            .social{
                width: 100%;
                img{
                    width: 15px;
                    object-fit: cover;
                }
            }
            .rights{
                width: 100%;
                p{
                    margin-right: 0px;
                    font-size: 7px;
                }
            }
        }
    }
}

//====mobile phone styling===//

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px){





}