/* Start of global variables */
@font-face {
    font-family: "pixelR";
    src: local("PixelCraft"), url(./assets/fonts/GraphikRegular.otf) format("opentype");
}
@font-face {
    font-family: "pixell";
    src: local("PixelCraft"), url(./assets/fonts/GraphikLight.otf) format("opentype");
}
@font-face {
    font-family: "pixelB";
    src: local("PixelCraft"), url(./assets/fonts/GraphikBold.otf) format("opentype");
}
@font-face {
    font-family: "pixelBl";
    src: local("PixelCraft"), url(./assets/fonts/GraphikBlack.otf) format("opentype");
}
@font-face {
    font-family: "pixelSb";
    src: local("PixelCraft"), url(./assets/fonts/GraphikSemibold.otf) format("opentype");
}
// bootstrap componets
$primary : #F4E2DE;
$secondary : #025259;
$fontColor : #111111;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";

body{
    font-family: pixelR;
}
.btn-custom{
    display: flex;
    font-size: 1rem;
    color: #D94F04;
    background-color: $primary;
    border-radius: 105px;
    height: 45px;
    padding: 0px 30px 0px 30px;
    transform: translateX(50px);
    min-width: -moz-fit-content;
    max-width: fit-content;
    min-width: fit-content;
    align-items: center;
    white-space: nowrap;
}
.btn-custom:hover{
    color: $secondary;
    background-color: $primary;
    transition: all;
}

.navbar{
    width: 100vw;
    height: 100px;
    background-color: #fdc2b5;
    z-index: 10;
    justify-content: center;
    .castomnav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .complogo{
        height: fit-content;
        transform: translateX(-20px);
        img{
            height: 88px;
            width: 85px;
            object-fit: contain;
        }
    }
    .navcontent{
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 13px;
        .content{
            display: flex;
            justify-content: center;
            transform: translateX(-60%);
            li{
                list-style: none;
                margin: 10px;
                padding: 5px;
            }
        }
    }
    .menu{
        display: none;
    }
    .menu-close{
        display: none;
    }

}
.home-info{
    left: 100px;
    top: 188px;
    width: 35vw;
    margin: 10px;
    padding: 10px;

    h1{
        text-transform: uppercase;
        font-family: pixelBl;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6509803921568628);
    }
    p{
        margin-top: 15px;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6509803921568628);

    }
    button{
        margin-top: 15px;
        color: $primary;
        background-color: $secondary;
        font-size: 13px;
    }
}

.partners{
    margin-top: 100px;
    margin-bottom: 100px;
    .row{
        margin: auto;
    }
    h2{
        font-size: 15px;
        text-transform: uppercase;
        padding: 5x;
        margin: 5px;
        text-align: center;
        font-family: pixelR;
    }
    .partners-slide {
        display: flex;
        justify-content: center;
        .slide {
            margin: 10px;
            position: relative;
            img{
                width: 100%;
                filter: grayscale(3);
                object-fit: contain;			
            }
        }
    }
}

.desc{
    background-image: url(../src/assets/images/descbg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110%;
    .info{
        text-align: center;
        align-items: center;
        padding: 0px 250px 0px 250px;
        display: flex;
        flex-direction: column;
        h2{
            font-family: pixelR;
            font-size: 16px;
            text-transform: uppercase;
        }
        h3{
            font-size: 38px;
            letter-spacing: 1px;
        }
        span{
            color: #025259;
        }
        button{
            margin-top: 15px;
            color: $primary;
            background-color: $secondary;
            font-size: 13px;
        }
    }
    img{

        width: 100%;
        padding: 0px 250px 0px 250px;
        object-fit: cover;
    }
}

.desc-2{
    height: 950px;
    padding-top: 350px;
    transform: translatey(-330px);
    position: relative;
    z-index: -1;
    background: linear-gradient(180deg, #F4F6F9 58.06%, #F4E2DE 102.13%);
    overflow-x: clip;
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .col{
        padding: 30px;
    }
    img{
        width: 100%;
        object-fit: contain;
    }
    .col-castom{
        padding-left: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 38px;
            margin-bottom: 20px;
        }
        span{
            color: #025259;
        }
    }
}

.about{
    transform: translatey(-330px);
    position: relative;
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .col{
        padding: 30px;
    }
    img{
        width: 75%;
        object-fit: contain;
    }
    .col-castom{
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 14px;
            text-transform: uppercase;
        }
        h3{
            font-size: 38px;
            margin-bottom: 20px;
        }
        span{
            color: #025259;
        }
    }
}

.why{
    transform: translatey(-230px);
    background-image: url("../src/assets/svgs/Vector1.svg");
    overflow-x: clip;
    .container{
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        .img{
            width: 50rem;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-200px) translateX(200px);
            z-index: -2;
        }
    }
    .col-castom{
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3{
            font-size: 38px;
            margin-bottom: 20px;
            color: #025259;
        }
        span{
            color: #D94F04;
        }
    }
    .card{
        width: 17rem;
        margin: 10px;
        .icon{
            display: flex;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
                margin-right: 20px;
            }
            h5{
                font-size: 14px;
                margin: 0px !important;
                margin-top: 20px !important;
            }
            p{
                font-size: 10px;
            }
        }
    }
    .row-custom{
        transform: translateX(80px);
    }
}

.service{
    overflow-x: clip;
    .container{
        padding: 0px 250px 0px 250px;
    }
    .col-12{
        text-align: center;
        color: #025259;
        h2{
            margin-bottom: 20px;
            font-size: 38px;
        }
    }
    .card{
        width: 268px;
        padding:0px 15px;
        margin-top: 70px;
        background: rgba(255, 255, 255, 0.49);
        box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);

        .img{
            width: 100;
            display: flex;
            justify-content: center;
        img{
            width: 70px;
            object-fit: cover;
            transform: translateY(-70px);
        }
        }
        
        h3{
            font-size: 15px;
            padding-top: -20px;
            font-family: pixelB;
            text-transform: uppercase;
        }
        p{
            font-size: 13px;
            letter-spacing: 1px;
        }
        button{
            color: $secondary;
            background-color: #fff3f0;
            border-radius: 105px;
            height: 45px;
            padding: 0px 20px 0px 20px;
            border: solid 1px #D94F04;
        }
        
    }
}

.info{
    margin: 50px 0px 50px 0px;
    .container{
        height: 232px;
        background: linear-gradient(95.31deg, #025259 -28.73%, #007172 23.23%, #D94F04 62.74%, #F4E2DE 111.77%);
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-family: pixell;
                font-size: 27px;
                text-align: center;
                color: #FFFFFF;
            }        
            button{
                color: $secondary;
                background-color: #fff3f0;
                border-radius: 105px;
                height: 45px;
                padding: 0px 20px 0px 20px;
                border: solid 1px #D94F04;
            }
        }
    }
}

.contact{
    padding-top: 100px;
    .section-header {
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
        color: $secondary;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

    .cont-img{
        width: 100%;
        height: 407px;
        object-fit: cover;
        padding:0 60px;
        // border-bottom-left-radius: 40%;
        // border-top-right-radius: 40%;
      }
    .form-control,textarea {
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
      
    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 100%;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        .alt-send-button {
          transition: all 0.2s ease-in-out;
        }
      
        .send-text {
          display: block;
          margin-top: 10px;
          letter-spacing: 2px;
        }  
        &:hover {
          .alt-send-button {
            transform: translate3d(0px, -29px, 0px);
          }
        }
      }
      .contact-list {
        list-style-type: none;
        margin-left: 40px;
        padding-right: 20px;
        .place {
            margin-left: 62px;
          }
          .phone {
            margin-left: 56px;
          }
          .gmail {
            margin-left: 53px;
          }
          i{
            font-size: 2rem;
          }
        .list-item {
            line-height: 2;
            color: $secondary;
        }
      
        .contact-text {
          font: 300 18px 'Lato', sans-serif;
          letter-spacing: 1.9px;
          color: $secondary;
      
          a {
            color: $secondary;
            text-decoration: none;
            transition-duration: 0.2s;
      
            &:hover {
              color: #D94F04;
              text-decoration: none;
            }
          }
        }
      }
      
    .social-media-list {
        position: relative;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
      
        li {
          position: relative;
          display: inline-block;
          height: 50px;
          width: 50px;
          margin: 10px 3px;
          line-height: 50px;
          border-radius: 50%;
          color: #fff;
          background-color: $secondary;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
      
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            opacity: 0;
            box-shadow: 0 0 0 1px #fff;
            transition: all 0.2s ease-in-out;
          }
          &:hover {
            background-color: #fff;
            &:after {
              opacity: 1;
              transform: scale(1.12);
              transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
            }
            a {
              color: #000;
            }
          }
      
          a {
            color: #fff;
          }
        }
      }
      hr {
        border-color: rgba(255,255,255,.6);
      }
}

.footer{
    margin: 200px 0px 0px 0px;
    padding: 20px 0px 10px 0px;
    .copyright{
        img{
            width: 120px;
            object-fit: cover;
            margin-bottom: 20px;
        }
        p{
            font-family: pixell;
            font-size: 12px;
        }
    }
    .ft{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 17px;
            text-transform: uppercase;
        }
        a,p{
            text-decoration: none;
            color: #242424;
            margin: 5px;
            padding: 3px;
            font-size: 14px;
        }
        a:hover{
            color: #025259;
            transition: all 30ms;
        }
        .input-group{
            margin: 5px;
            padding-top: 3px;
            padding: 3px;
            width: 90%;
            ::placeholder{
                font-size: 12px;
                text-transform: uppercase;
            }
            button{
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        .social{
            width: 70%;
            display: flex;
            justify-content: space-between;
            img{
                width: 25px;
                object-fit: cover;
                align-content: baseline;
            }
            img:hover{
                scale: 1.02;
                transition: all 30ms;
            }
        }
        .rights{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            transform: translateY(28px);
            p{
                margin-right: 15px;
                font-size: 10px;
                color: #595959;
            }
        }
    }
}
//====tablet styling=========//

@media (max-width: 1200px) {
    .navbar{
        .complogo{
            height: fit-content;
            position: absolute;
            top: 0px;
            img{
                height: 88px;
                width: 85px;
                object-fit: contain;
            }
        }
        .navcontent{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #fdc2b5cb;
            width: 0%;
            height: 70vh;
            padding: 0px;
            position: absolute;
            backdrop-filter: blur(3px);
            right: 0px;
            top: 10px;
            transition: ease-in-out 1s;
            .content{
                display: flex;
                flex-direction: column;
                transform: translateX(0%);
                margin-top: 30px;
            }
            .btn-custom{
                margin:0px 1rem;
                margin-bottom: 0px;
                transform: translateX(0px);
            }
        }
        .menu{
            display: block;
            z-index: -1;
            position: absolute;
            right: 40px;
        }
        .menu-close{
            display: block;
            position: absolute;
            right: 30px;
            top: 0px;
        }
        .close-btn{
            display: none;
        }
    }
    .carousel-item{
        img{
            height: 650px;
            object-position: -250px;
            object-fit: cover;
        }
    }


    .home-info{
        h1{
            font-size: 100%;
        }
        p{
            font-size: 100%;
        }
    }

    .partners{
        margin-top: 50px;
        margin-bottom: 50px;
        .row{
            margin: auto;
        }
        img{
            height: 45px;
        }
    }
    .desc{
        .info{
            padding: 0px 50px 0px 50px;
            p{
                text-align: start;
            }
        }
        img{
            padding: 0px 100px 0px 100px;
        }
    }
    .desc-2{
        height: 950px;
        padding-top: 295px;
        .container{
            .row{
                flex-direction: column-reverse;
            }
        }
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            img{
                width: 80%;
                object-fit: contain;
            }
        }
        .col-castom{
            padding-left: 35px;
            p{
                padding: 0px 50px 0px 50px;
                text-align: center;
            }
        }
    }
    .about{
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .col-castom{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .why{
        transform: translatey(-230px);
        .container{
            padding-right: 0px;
            .img{
                width: 45rem;
                transform: translateY(20px) translateX(380px);
            }
        }
        .col-castom{
            padding-left: 0px;
            padding-right: 0px;
        }
        .card{
            width: 17rem;
        }
        .row-custom{
            transform: translateX(40px);
        }
    }
    
    .service{
        margin-top: -150px;
        .container{
            padding: 0px 0px 0px 0px;
        }
        .card{
            width: fit-content;
            .img{
                img{
                    width: 50px;
                    object-fit: cover;
                    transform: translateY(-50px);
                }
            }
            
            p{
                font-size: 10px;
            }
            
        }
    }

    .footer{
        margin: 100px 0px 0px 0px;
        padding: 20px 0px 10px 0px;
        .copyright{
            img{
                width: 90px;
            }
            p{
                font-size: 10px;
            }
        }
        .ft{
            h3{
                font-size: 10px;
            }
            a,p{
                font-size: 10px;
            }
            .input-group{
                width: 100%;
                padding: 0px;
                ::placeholder{
                    font-size: 7px;
                }
                button{
                    font-size: 7px;
                }
            }
            .social{
                width: 100%;
                img{
                    width: 15px;
                    object-fit: cover;
                }
            }
            .rights{
                width: 100%;
                p{
                    margin-right: 0px;
                    font-size: 7px;
                }
            }
        }
    }
}

//====mobile phone styling===//

@media only screen 
  and (min-device-width: 270px) 
  and (max-device-width: 740px){
    .navbar{
            height: 57px;
        .complogo{
            top: 3px;
            img{
                height: 50px;
                object-fit: contain;
            }
        }
        .menu{
            right: 20px;
            i{
                font-size: 2rem !important;
            }
        }
        .menu-close{
            right: 10px;
            i{
                font-size: 1rem !important;
            }
        }
        .close-btn{
            display: none;
        }
    }
    .carousel-item{
        img{
            height: 380px;
            object-position: 40%;
            object-fit: cover;
        }
    }
    .home-info{
        left: 0px;
        top: 95px;
        width: 100%;
        margin: 0px;
        padding: 10px;
        h1{
            font-size: 100%;
        }
        p{
            font-size: 100%;
        }
    }
    .desc{
        .info{
            padding: 0px 10px 0px 10px;
        }
        button{
            transform: translateX(0px);
        }
        img{
            padding: 0px;
        }
    }
    .desc-2{
        height: 830px;
        padding-top: 300px;
        .container{
            padding: 0px;
        }
        .col-castom{
            p{
                padding: 0px;
                text-align: left;
            }
        }
    }
    .about{
        .col{
            padding: 0px;
        }
        img{
            width: 110%;
        }
    }
    .why{
        .row-custom{
            transform: translateX(10px);
        }
    }
    .service{
        margin-top: -150px;
        .container{
            padding: 10px;
            .col{
                .row{
                    padding:0px 10%;
                }
            }
        }
    }
    .info{
        margin: 0px 0px 0px 0px;
        padding: 0px 5px;
        .container{
            height: 180px;
            div{
                p{
                    font-size: 18px;
                    text-align: left;
                }        
            }
        }
    }

}