/* Start of global variables */
@font-face {
    font-family: "pixelR";
    src: local("PixelCraft"), url(./assets/fonts/GraphikRegular.otf) format("opentype");
}
@font-face {
    font-family: "pixelB";
    src: local("PixelCraft"), url(./assets/fonts/GraphikBold.otf) format("opentype");
}
@font-face {
    font-family: "pixelBl";
    src: local("PixelCraft"), url(./assets/fonts/GraphikBlack.otf) format("opentype");
}
@font-face {
    font-family: "pixelSb";
    src: local("PixelCraft"), url(./assets/fonts/GraphikSemibold.otf) format("opentype");
}
// bootstrap componets
$primary : #F4E2DE;
$secondary : #025259;
$fontColor : #111111;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";

body{
    font-family: pixelR;
}
.btn-custom{
    color: white;
    background-color: #fcf5f37e;
    border-radius: 105px;
    height: 45px;
    padding: 0px 30px 0px 30px;
}
.btn-custom:hover{
    color: $secondary;
    background-color: $primary;
    transition: all;
}

.navbar{
    width: 100vw;
    height: 100px;
    background-color: transparent;
    z-index: 10;
    .castomnav{
        display: flex;
        justify-content: space-between;
    }
    .complogo{
        height: fit-content;
        img{
            height: 88px;
            width: 85px;
            object-fit: contain;
        }
    }
    .navcontent{
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 13px;
        .content{
            display: flex;
            margin-right: 550px !important;
            li{
                list-style: none;
                margin: 10px;
                padding: 5px;
            }
        }
    }


}
.home-info{
    left: 100px;
    top: 188px;
    width: 35vw;
    margin: 10px;
    padding: 10px;

    h1{
        text-transform: uppercase;
        font-family: pixelBl;
    }
    p{
        margin-top: 15px;
    }
    button{
        margin-top: 15px;
        color: $primary;
        background-color: $secondary;
        font-size: 13px;
    }
}

.partners{
    margin-top: 100px;
    margin-bottom: 100px;
    .row{
        margin: auto;
    }
    h2{
        font-size: 15px;
        text-transform: uppercase;
        padding: 5x;
        margin: 5px;
        text-align: center;
    }
    img{
        margin: 10px;
        height: 80px;
        object-fit: contain;
    }
}
