<div class="container">
    <div class="row row-cols-lg-4 row-cols-md-4 row-cols-sm-1 footer">
        <div class="col copyright">
            <a href=""><img src="../../../assets/images/BW logo.png" alt="PixelCraft logo"></a>
            <p>2023 pixelcraft.co.ke <br> All Rights Reserved</p>
        </div>
        <div class="col ft">
            <h3>Company</h3>
            <a href="">Studio</a>
            <a href="https://www.pixelcraft.co.ke/meeting">Services</a>
            <a href="https://www.pixelcraft.co.ke/about">About us</a>
            <a href="https://www.pixelcraft.co.ke/service">What we do</a>
        </div>
        <div class="col ft">
            <h3>SUPPORT</h3>
            <a href="mailto:bensammwaniki@gmail.com">Email: bensammwaniki@gmail.com</a>
            <a href="tel:+254112960518">Phone: +254112 960518</a>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email Address" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="button" id="button-addon2">Subscribe</button>
            </div>
        </div>
        <div class="col ft">
            <h3>FIND US ON SOCIAL</h3>
            <div class="social">
                <a href=""><img src="../../../assets/svgs/Facebook.svg" alt="PixelCraft facebook"></a>
                <a href=""><img src="../../../assets/svgs/Instagram.svg" alt="PixelCraft Instagram"></a>
                <a href=""><img src="../../../assets/svgs/YouTube.svg" alt="PixelCraft YouTube"></a>
                <a href=""><img src="../../../assets/svgs/Twitter.svg" alt="PixelCraft Twitter"></a>
            </div>
            <div class="rights">
                <p>Terms of Use</p>
                <p>Privacy Policy</p>
                <p>Contact</p>
                <p>Help</p>
            </div>
        </div>
    </div>
</div>