<div class="container">
    <div class="row row-cols-lg-4 row-cols-md-4 row-cols-sm-1 footer">
        <div class="col copyright">
            <img src="../../../assets/images/BW logo.png" alt="">
            <p>2023 pixelcraft.com <br> All Rights Reserved</p>
        </div>
        <div class="col ft">
            <h3>Company</h3>
            <a href="">Blog</a>
            <a href="">Services</a>
            <a href="">About us</a>
            <a href="">What we do</a>
        </div>
        <div class="col ft">
            <h3>SUPPORT</h3>
            <a href="">Email: bensammwaniki@gmail.com</a>
            <a href="">Phone: +254743 491012</a>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email Address" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="button" id="button-addon2">Subscribe</button>
            </div>
        </div>
        <div class="col ft">
            <h3>FIND US ON SOCIAL</h3>
            <div class="social">
                <a href=""><img src="../../../assets/svgs/Facebook.svg"></a>
                <a href=""><img src="../../../assets/svgs/Instagram.svg"></a>
                <a href=""><img src="../../../assets/svgs/YouTube.svg"></a>
                <a href=""><img src="../../../assets/svgs/Twitter.svg"></a>
            </div>
            <div class="rights">
                <p>Terms of Use</p>
                <p>Privacy Policy</p>
                <p>Contact</p>
                <p>Help</p>
                <p>Jobs</p>
            </div>
        </div>
    </div>
</div>